doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/w3_overlap.css')

  body
    header.w3-bar
      .w3-bar-item
        a.w3-button.w3-padding-large(href='/') Home
      // TODO AUTH
      if user
        .w3-right.w3-bar-item
          a.w3-padding-large Welcome, #{user.username}
        a.w3-bar-item.w3-button.w3-padding-large(href='/files') Os Meus Ficheiros
        a.w3-bar-item.w3-button.w3-padding-large(onclick="logout()") Logout
      else
        .w3-right.w3-bar-item
          a.w3-button.w3-padding-large(href='/signup') Registar
          a.w3-button.w3-padding-large(href='/login') Login

    block content

    script.
      function logout() {
        // TODO AUTH
        alert('Logout function not implemented yet.');
      }
