doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/w3_overlap.css')

  body
    header.w3-bar
      .w3-bar-item
        a.w3-button.w3-padding-large(href='/') Home
      // TODO AUTH
      if userLogged
        .w3-right.w3-bar-item
          a.w3-padding-large Welcome, #{username}
        .w3-right.w3-bar-item
          a.w3-button.w3-padding-large(href='/files') Os Meus Ficheiros
          a.w3-button.w3-padding-large(onclick="logout()") Logout
      else
        .w3-right.w3-bar-item
          a.w3-button.w3-padding-large(href='/signup') Registar
          a.w3-button.w3-padding-large(href='/login') Login

    if title != 'Erro'
      .w3-card-4.w3-margin.w3-white.w3-padding
        .w3-container.w3-padding-16
          h1.w3-xxlarge.w3-text-blue.w3-center= title

    .w3-container.w3-padding.w3-animate-opacity
      block content

    script.
      function logout() {
        fetch('/logout', { method: 'GET' })
          .then(() => window.location = '/')
      }